.App {
  color: #252794;
}
h2 {
  text-align: center;
  margin-bottom: 2rem;
}

#input {
  margin-left: 4rem;
  margin-right: 10px;
  margin-bottom: 30px;
  width: 30%;
}

#total {
  display: block;
  text-align: left;
  color: #9b1563;
  font-weight: 600;
  padding-top: 20px;
  margin-inline-start: 2rem;
  clear: left;
}

input[type="checkbox"] {
  margin-left: 1em;
  margin-right: 10px;
  float: left;
  clear: left;
}

.span {
  float: left;
  width: 60%;
  margin-bottom: 5px;
}

i[class="fas fa-trash-alt"] {
  float: left;
  clear: right;
  margin-inline-end: 1em;
}

input:checked + .span {
  text-decoration: line-through;
}
