.App {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  color: #252794;
}

.App::before {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  content: "";
}

.allblock {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  text-align: center;
  width: 60%;
}

h2 {
  margin-bottom: 2rem;
}

#input {
  margin-right: 10px;
  margin-bottom: 30px;
  width: 50%;
}

.todoList {
  display: inline-block;
  white-space: normal;
  width: 80%;
}

#total {
  display: block;
  text-align: left;
  margin-left: 1.5em;
  color: #9b1563;
  font-weight: 600;
  padding-top: 20px;
  clear: left;
}

input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 2em;
  float: left;
  clear: left;
}

.todoItem {
  text-align: left;
  float: left;
  width: 60%;
  margin-bottom: 5px;
  clear:right;
}

i[class="fas fa-trash-alt"] {
  float: left;
  clear: right;
  margin-inline-end: 1em;
}

input:checked + .todoItem {
  text-decoration: line-through;
}
